header {
  padding: 156px 0 100px;
}
section {
  padding: 150px 0;
}
html, body {
    height: 100%;
}
.nav-bg-custom {
    background-color: black;
}
.nav-link {
    color: white;
}
.bg-img {
    height: 50%;
}
.home-header {
    position: relative;
    top: 35%;
}
.vertical-center {
    display: flex;
    align-items: center;
}
.form-error-message {
  color: red;
}
.footer-logo {
  width: auto;
  height: 3rem;
}
.footer-bg {
  background-color: black;
}